extends layout

block content
  
  div(class="container" id="mainContainer")
    div(class="row")
      div(class="col")
        h3|Web Projects
        ul(class="projects")
          li(id="projectItem")
            a(href="https://lab-booking.herokuapp.com/")|Lab Booking Project (Node.js, Express, CSS, HTML) - Heroku
        ul(class="projects")
          li(id="projectItem")
            a(href="https://swansonquotes-one.herokuapp.com/")|Ron Swanson Quotes (Node.js, Express, CSS, HTML) - Heroku
      div(class="col")
        h3|Desktop/Enterprise Projects
        ul(class="projects")
          li(id="projectItem")
            a(href="https://github.com/CharleeBrown/Data-Entry-Form-Java")|Data Entry Form (Java, MongoDB) - Github

            ul(class="projects")
          li(id="projectItem")
            a(href="https://github.com/CharleeBrown/RefFinder")|Reference Finder (C# - Winforms) - Github            
  