extends layout

block content
  div(class="container")
    div(class="jumbotron")
      p|Proto
  
  div(class="container")
    div(class="row")
      div(class="col")
        ul(class="projects")
          li
            a(href="#")|Test
