body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
  text-decoration:underline;
  font-size: 20px;
}
.projects{
  list-style-type:none;

}

.header{
  text-align: center;
  margin-bottom: 10px;
}

div{
  text-align: center;
}

.menuStyle{
  list-style-type: none;
  border-bottom: 1px solid black;
  padding-bottom:10px;
}
.menuStyle li{
  
  display: inline-block;
  margin-right:30px;
}